.onTheWayPana1,
.tereWeb {
  position: absolute;
  overflow: hidden;
}
.tereWeb {
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  width: 1440px;
  height: 3613px;
}
.onTheWayPana1 {
  top: 240px;
  left: 810px;
  width: 539px;
  height: 565px;
}
.homeChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 174px;
}
.singupNow {
  top: 76px;
  left: 1030px;
  font-size: var(--font-size-xl);
  font-weight: 800;
  color: inherit;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.homeItem,
.loginNow,
.singupNow {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
}
.homeItem {
  top: 63px;
  left: 1178px;
  border-radius: 5.95px;
  background: linear-gradient(264.06deg, #4cdb80 34.9%, #3fc3e0);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 155px;
  height: 50px;
}
.loginNow {
  top: 75px;
  left: 1206px;
  font-weight: 800;
  color: var(--color-white);
  display: inline-block;
  width: 127px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.helpMeIs {
  margin: 0;
}
.helpMeIsContainer {
  position: absolute;
  top: 291px;
  left: 71px;
  font-size: 64px;
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-gray-100);
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.helpMe {
  background: linear-gradient(-86.56deg, #4cdb80 43.75%, #3fc3e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.provides {
  color: var(--color-black);
}
.whatIsTheContainer {
  position: absolute;
  top: 1014px;
  left: 485px;
  font-size: 46.39px;
  line-height: 50.35px;
  font-weight: 800;
  text-align: center;
}
.helpMe1,
.itsSimpleAnd {
  position: absolute;
  display: inline-block;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.itsSimpleAnd {
  top: 648px;
  left: 72px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 800;
  color: var(--color-darkgray-100);
  width: 550px;
  height: 65px;
}
.helpMe1 {
  top: 7.6px;
  left: 77.62px;
  line-height: 68px;
  background: linear-gradient(268.28deg, #3fc3e0, #4cdb80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 294.39px;
  height: 96.9px;
}
.helpMeLogo {
  position: absolute;
  top: 0;
  left: 0;
  width: 57px;
  height: 64px;
  overflow: hidden;
}
.helpMeParent {
  position: absolute;
  top: 60px;
  left: 68px;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 372px;
  height: 104.5px;
  font-size: 65.26px;
  font-family: var(--font-itc-avant-garde-gothic-pro);
}
.helpMe2 {
  background: linear-gradient(93.4deg, #3fc3e0, #4cdb80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.helpMeBenefitsContainer {
  position: absolute;
  top: 1783px;
  left: 528px;
  font-size: 46.39px;
  line-height: 50.35px;
  font-weight: 800;
}
.homeInner {
  position: absolute;
  top: 1886px;
  left: 145px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 1060px;
  height: 304px;
}
.div {
  top: 1959px;
  left: 183px;
  font-size: var(--font-size-69xl);
  line-height: 118.8px;
  background: linear-gradient(268.28deg, #3fc3e0, #4cdb80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.div,
.saveALotContainer,
.youCanSearch {
  position: absolute;
  font-weight: 800;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.youCanSearch {
  top: 2070px;
  left: 191px;
  line-height: 23px;
  color: var(--color-darkgray-100);
  display: inline-block;
  width: 385px;
  height: 47px;
}
.saveALotContainer {
  top: 1985px;
  left: 329px;
  font-size: 33.94px;
  line-height: 32.5px;
}
.rectangleDiv {
  position: absolute;
  top: 2246px;
  left: 230px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 1060px;
  height: 304px;
}
.div1 {
  top: 2319px;
  left: 848px;
  font-size: var(--font-size-69xl);
  line-height: 118.8px;
  background: linear-gradient(268.28deg, #3fc3e0, #4cdb80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.byUsingOur,
.div1,
.saveCash {
  position: absolute;
  font-weight: 800;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.byUsingOur {
  top: 2430px;
  left: 856px;
  line-height: 23px;
  color: var(--color-darkgray-100);
  display: inline-block;
  width: 385px;
  height: 47px;
}
.saveCash {
  top: 2345px;
  left: 994px;
  font-size: 33.94px;
  line-height: 32.5px;
}
.homeChild1 {
  position: absolute;
  top: 2606px;
  left: 150px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 1060px;
  height: 304px;
}
.div2,
.updatedInformation247Container {
  position: absolute;
  font-weight: 800;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.div2 {
  top: 2658px;
  left: 188px;
  font-size: var(--font-size-69xl);
  line-height: 118.8px;
  background: linear-gradient(268.28deg, #3fc3e0, #4cdb80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.updatedInformation247Container {
  top: 2684px;
  left: 334px;
  font-size: 33.94px;
  line-height: 32.5px;
}
.frameIcon,
.frameIcon1,
.frameIcon2 {
  position: absolute;
  top: 2285px;
  left: 340px;
  width: 248px;
  height: 226.21px;
  overflow: hidden;
}
.frameIcon1,
.frameIcon2 {
  top: 1911.04px;
  left: 838px;
  width: 256.79px;
  height: 254.82px;
}
.frameIcon2 {
  top: 2646px;
  left: 789px;
  width: 310.6px;
  height: 233.55px;
}
.allThePlaces {
  position: absolute;
  top: 2768px;
  left: 190px;
  line-height: 23px;
  font-weight: 800;
  color: var(--color-darkgray-100);
  display: inline-block;
  width: 520px;
  height: 47px;
}
.frameChild {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 197px;
  height: 67px;
  flex-shrink: 0;
  z-index: 0;
}
.tryItOut {
  position: absolute;
  margin: 0 !important;
  top: calc(50% + 0.5px);
  left: calc(50% - 55.25px);
  font-weight: 800;
  display: inline-block;
  width: 109px;
  height: 1px;
  flex-shrink: 0;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
  z-index: 1;
}
.rectangleParent {
  cursor: pointer;
  text-decoration: none;
  flex: 1;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  height: 67px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  color: inherit;
}
.login {
  position: relative;
  font-weight: 800;
  display: inline-block;
  width: 63px;
  height: 1px;
  flex-shrink: 0;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.loginWrapper {
  cursor: pointer;
  text-decoration: none;
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01),
    0 0 0 4px rgba(255, 255, 255, 0.01);
  height: 67px;
  display: flex;
  flex-direction: column;
  padding: 0 68px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
  color: inherit;
}
.frameParent {
  position: absolute;
  top: 742px;
  left: 125px;
  width: 475px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 74px;
  font-size: var(--font-size-5xl-6);
  color: var(--color-white);
}
.homeChild2 {
  position: absolute;
  top: 1130px;
  left: 0;
  width: 1442px;
  height: 474.4px;
}
.home {
  align-self: stretch;
  position: relative;
  background-color: var(--color-white);
  height: 3613px;
  flex-shrink: 0;
  overflow: hidden;
}
.homeParent {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-gilroy);
}
