@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.booktravelChild,
.booktravelItem {
  position: absolute;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
}
.booktravelChild {
  top: 0.4px;
  left: 15.37px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 350px;
  height: 371px;
  transform: rotate(2.38deg);
  transform-origin: 0 0;
}
.booktravelItem {
  top: 52.68px;
  left: 130.95px;
  border-radius: var(--br-11xl);
  background: linear-gradient(135deg, #4bda83, #3fc3e0);
  width: 104px;
  height: 104px;
}
.helpMeIs {
  margin: 0;
}
.helpMe,
.helpMeIsContainer {
  position: absolute;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.helpMeIsContainer {
  top: 245.19px;
  left: 36.92px;
  line-height: 28px;
  display: inline-block;
  width: 303px;
  height: 83px;
}
.helpMe {
  top: 196.37px;
  left: 144.69px;
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-weight: 600;
  color: var(--color-black);
}
.busicon {
  position: absolute;
  top: 63.53px;
  left: 150.14px;
  width: 71.8px;
  height: 71.8px;
  overflow: hidden;
}
.booktravel,
.carRepairShopChild {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
}
.booktravel {
  text-decoration: none;
  flex: 1;
  position: relative;
  height: 385.19px;
  transform: rotate(-1.49deg);
  transform-origin: 0 0;
  color: inherit;
}
.carRepairShopChild {
  position: absolute;
  top: 49px;
  left: 123px;
  border-radius: var(--br-11xl);
  background: linear-gradient(135deg, #4bda83, #3fc3e0);
  width: 104px;
  height: 104px;
}
.helpMe1,
.helpMeToContainer {
  position: absolute;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.helpMe1 {
  top: 193px;
  left: 133px;
  line-height: 32px;
  font-weight: 600;
}
.helpMeToContainer {
  top: 239px;
  left: 24px;
  font-size: var(--font-size-sm);
  line-height: 28px;
  color: var(--color-darkgray-100);
  display: inline-block;
  width: 303px;
  height: 83px;
}
.vectorIcon {
  position: absolute;
  height: 18.87%;
  width: 20%;
  top: 17.79%;
  right: 40%;
  bottom: 63.34%;
  left: 40%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.carRepairShop,
.hospitalChild {
  text-decoration: none;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  height: 371px;
}
.carRepairShop {
  flex: 1;
  position: relative;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01),
    0 0 0 4px rgba(255, 255, 255, 0.01);
  cursor: pointer;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.hospitalChild {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 350px;
}
.helpMeToContainer1 {
  position: absolute;
  top: 239px;
  left: 24px;
  line-height: 28px;
  display: inline-block;
  width: 303px;
  height: 83px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.hospitalItem {
  position: absolute;
  top: 49px;
  left: 123px;
  border-radius: var(--br-11xl);
  background: linear-gradient(135deg, #4cdb80, #3fc3e0);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 104px;
  height: 104px;
}
.helpMe2 {
  position: absolute;
  top: 193px;
  left: 133px;
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-weight: 600;
  color: var(--color-black);
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.hospitalicon {
  position: absolute;
  top: 66px;
  left: 140px;
  border-radius: var(--br-8xs);
  width: 70px;
  height: 70px;
}
.hospital,
.hospitalWrapper {
  text-decoration: none;
  height: 371px;
  color: inherit;
}
.hospital {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 350px;
  opacity: 0;
  cursor: pointer;
}
.hospital.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.hospitalWrapper {
  flex: 1;
  position: relative;
}
.booktravelParent {
  position: absolute;
  top: 1206.23px;
  left: 155.52px;
  width: 1121.48px;
  display: flex;
  flex-direction: row;
  padding: 9.489639282226562px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray-100);
  font-family: var(--font-poppins);
}
